# Ignore everything (files and folders)
*
# Whitelist files
!.gitignore
!README.md
!docker-1.en.pdf

# Whitelist folders:
!*/

# Whitelist folder contents:
!/00_how_to_docker/*
!/01_dockerfiles/*
!/02_bonus/*

!/README/**/*
